<!DOCTYPE html>
<html>

    <head>

        <title> Kenneth Jones R. Salbino </title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/home.css') }} ">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>

    <body class="body">

        <div class="h1-div">
            <h1> Ke Jo Web</h1>
            <div class="h1-image-div"></div>
                <img class='h1-image' src="{{ url_for('static', filename = 'Images/coffee-computer.jfif')}}" alt="My Image">
        </div>

        <div class="h2-div">
            <h2> About </h2>
            <p class="about-me"> Kenneth Jones R. Salbino is a self-taught programmer who is currently working as a software developer at Microsoft. 
                With a passion for software development and a wealth of experience gained through self-education, 
                Mr. Salbino has developed a comprehensive website that serves as a resource for aspiring developers. 
                The website provides a range of materials, including tutorials, challenges, and projects, 
                all designed to help others follow in his footsteps and achieve success in the field of software development. 
                Through his dedication to sharing his knowledge and experience, Mr. Salbino hopes to inspire and educate the next generation of developers.
                In addition to his work at Microsoft and his contributions to the development community through his website, Mr. Salbino is also a sought-after speaker at conferences and events. 
                He has shared his insights and expertise on a range of topics related to software development, including best practices, emerging technologies, and career development. 
                His engaging and informative presentations have earned him a reputation as a thought leader in the industry.

                Mr. Salbino's commitment to advancing the field of software development is also evident in his active involvement in the community. 
                He regularly participates in hackathons, meetups, and other events that bring together developers and enthusiasts from around the world. 
                Through these activities, he has built a vast network of contacts and collaborators who share his passion for innovation and excellence.
                
                Despite his many accomplishments, Mr. Salbino remains committed to his ongoing development as a programmer and a person. 
                He is constantly exploring new technologies and approaches, and he maintains a deep curiosity and love of learning that inspires those around him. 
                Through his hard work, creativity, and dedication, he has established himself as a true leader in the field of software development, 
                and a role model for aspiring developers everywhere.
            </p>
        </div>

        <div class="h3-div">
            <h3> Job and Average Salary</h3>
            <div class="job-div">
                {% for job in jobs%}
                    {% include 'jobitem.html' %}
                {% endfor %}
                </div>
        </div>

    </body>

</html>